/*@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');*/
@import url('https://unicons.iconscout.com/release/v2.1.9/css/unicons.css');
/* -------
    Объявление переменных
------- */

:root {
  --color-input-search: #F3F1F1;
  --main-color-content: #192534;
  /*     --main-color-background: #1F2029; */
  /* #2a2b38 */
  --main-color-background: #0D1721;
}

* {
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #A79797; */
  color: #ffffff;
}

body * {
  display: block;
}

body, .offcanvas {
  background-color: var(--main-color-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*-----
    fixed bootstrap
-----*/
.modal-content {
  background-color: transparent;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  margin: .5rem auto;
  grid-gap: 10px;
}

@media (min-width: 992px) {
  .navbar-collapse {
    margin: 0;
    max-width: 65%;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .card-columns {
    orphans: inherit;
  }
}

@media (min-width: 576px) {
  .card-columns {
    orphans: inherit;
  }
}

.card-columns {
  widows: 2;
}

.popover {
  z-index: 10;
}

.navbar-brand img {
  width: auto;
}

.navbar {
  padding: .5rem 0;
}

li.nav-item {
  color: #FFF;
  font-weight: 600;


}

li.nav-item a {
  color: inherit;
}

.arrow {
  display: none !important;
}

/* -----

    icons for form

 ---- */

.input-icon {
  height: 35px;
  font-size: 24px;
  line-height: 35px;
  text-align: left;
  color: #ffeba7;
  background-color: var(--main-color-content);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  transition: all 200ms linear;
  display: flex;
  align-items: center;
}

/* -------
    Ограничивающая оболочка
------- */

.fixed-container {
  max-width: 1366px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}


/* spinner */
.spinner-block {
  width: 100vw;
  height: 100vh;
}