/* -------- Header --------- */
.header-wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  height: 80px;
}

.header__container {
  margin-left: 80px;
  background-color: var(--bg);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header__logo {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #59a1ca;
  display: flex;
  align-items: center;
}

/* ----------
  header-searc
---------- */
.header-search__container {
  max-width: 315px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: var(--color-input-search);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-search__input {
  max-width: calc(100% - 87px);
  width: 100%;
  height: inherit;
  padding-left: 12px;
  background-color: inherit;
  border: none;
  outline: none;
}

.header-search__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #192534;
}

.header-search__input:focus {
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.header-search__button {
  padding: 8px 20px;
  height: inherit;
}

.header-search__icon {
  width: 30px;
  margin: 0 auto;
}

/* ----------
  add courses
---------- */
.header-add-course {
  display: flex;
}

/* icon plus */
.header-circle {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  font-family: none;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #a79797;
  border-radius: 50%;
  background-color: var(--color-input-search);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-add-text {
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

/*------- AddCard style -------*/
.card__modal .modal-content {
  max-width: 355px;
  margin: 0 auto;
}

.card-form {
  background-color: transparent;
  color: var(--bs-white);
  font-size: 0.9rem;
  border: 1px solid transparent;
  padding: 0 0.5rem;
}

.card-form:focus {
  color: white;
  background-color: transparent;
}

.card-form::placeholder {
  color: white;
}

.card-form .card__group {
  padding: 0 0.5rem;
}